.status {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
}

.pending {
  background-color: rgba(255, 171, 0, 0.2);
  color: #ffab00;
}

.processing {
  background-color: rgba(0, 228, 137, 0.2);
  color: rgb(0, 228, 137);
}

.shipped {
  background-color: rgba(33, 150, 243, 0.2);
  color: #2196f3;
}

.delivered {
  background-color: rgba(0, 228, 137, 0.2);
  color: rgb(0, 228, 137);
}

.cancelled{
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}