.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup input, .formGroup textarea {
  box-sizing: border-box;
  resize: none;
  padding: 0.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-gray);
  color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 0.375rem;
}

.input:focus {
  outline: none;
  ring: 2px;
  ring-color: var(--color-green);
}

.buttonIcon {
  margin-right: 0.5rem;
  color: white;
}

.submitBtn{
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}