.map-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.map-wrapper {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Optional styles for a title above the map */
.map-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-green);
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 400px) {
    .map-container{
        
    }
}