.testimonials {
  padding: 3rem 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  max-width: 36rem;
  margin: 0 auto;
  text-align: center;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-green);
}

.filledStars{
  color: var(--color-green);
}

.title {
  margin-top: 0.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  /* color: white; */
}

.grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 2rem;
}

.rating {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.rating span {
  color: var(--color-green);
  font-size: 1.25rem;
}

.content {
  /* color: rgb(209, 213, 219); */
  margin: 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  color: white;
}

.role {
  font-size: 0.875rem;
  color: var(--color-green);
}