.divider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2px;
    background-color: transparent;
    padding: 2em 0;
    margin: auto;
}

.greenSection {
    width: 30%;
    background-color: var(--color-green);
    height: 100%;
}

.graySection {
    width: 70%;
    background-color: #d3d3d3;
    height: 100%;
}
