.trigger-button {
    padding: 12px 24px;
    background-color: var(--color-green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.trigger-button:hover {
    background-color: var(--color-greenHover);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.popup-overlay.active {
    display: flex;
    opacity: 1;
}

.popup {
    background-color: rgb(26, 26, 26);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    position: relative;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup-header {
    margin-bottom: 20px;
}

.popup-title {
    font-size: 24px;
    color: #d7d7d7;
    margin-bottom: 10px;
}

.popup-content {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #666;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #999;
    transition: color 0.3s;
}

.close-button:hover {
    color: #333;
}

.popup-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.popup-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.confirm-button {
    background-color: var(--color-green);
    color: white;
}

.confirm-button:hover {
    background-color: var(--color-greenHover);
}

.cancel-button {
    background-color: #f1f1f1;
    color: #333;
}

.cancel-button:hover {
    background-color: #e4e4e4;
}