/* Global Styles */
.success {
    padding: 50px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1rem;
}

/* Order Confirmation Styles */
.orderConfirmation {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.confirmationIcon {
    color: var(--color-green);
    border-radius: 50%;
    padding: 1rem;
    transform: scale(3);
}

.confirmationIcon .material-symbols-outlined {
    font-size: 3rem;
    color: #141414;
}

.logo {
    margin-bottom: 2rem;
}

.logo img {
    max-width: 200px;
    width: 100%;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.message {
    margin-bottom: 2rem;
}

.actions .btn {
    display: inline-block;
    background-color: var(--color-green);
    color: #141414;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem;
}

.actions .btn:hover {
    background-color: var(--color-greenHover);
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .actions .btn {
        display: block;
        margin: 0.5rem 0;
    }
}