.container-of-all {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 1000px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid rgb(64, 64, 64);
    padding: 30px;
    color: rgb(216, 216, 216);
    background-color: rgb(34, 34, 34);
}

.secure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secure-order {
    display: flex;
    align-items: center;
}

.secure-order-title {
    font-size: 25px;
    color: var(--color-green);
}

.order-timeline {
    font-size: 12px;
}

.order-timeline-check {
    background-color: var(--color-green);
    padding: 2px;
    border-radius: 50%;
    margin-left: 10px;
}

.order-timeline-info {
    margin: 0px 10px;
}

.order-timeline-number {
    background-color: rgb(120, 120, 120);
    padding: 1px 5px;
    border-radius: 50%;
    margin-left: 10px;
}

.vertical-line {
    height: 30px;
    width: 1px;
    background-color: rgb(120, 120, 120);
    margin: 0px 20px;
}

.secure-order-sub-title {
    font-size: 13px;
    font-weight: 600;
}

.horizontal-line {
    background-color: rgb(100, 100, 100);
    height: 1px;
    width: 100%;
    margin: 30px 0px;
}

.checkout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.billing-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.billing-title,
.coupon-title {
    color: var(--color-green);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sub-inputs-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.billing-input,
.other-notes {
    padding: 15px 25px;
    background: rgb(26, 26, 26);
    color: #fff;
    border: 1px solid rgb(1, 66, 40);
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
}

.billing-input:focus,
.other-notes:focus {
    outline: 1px solid var(--color-green);
}

.sub {
    width: 50%;
}

.other-notes {
    resize: none;
    height: 100px;
}

.coupon-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.coupon-title {
    margin: 0;
}

.coupon-sub-title {
    color: rgb(120, 120, 120);
    font-size: 15px;
    margin-bottom: 30px;
}

.coupon-inputs-container {
    display: flex;
    width: 100%;
}

.coupon-input {
    width: 70%;
    height: 50px;
    margin: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.coupon-apply {
    height: 50px;
    width: 30%;
    background-color: var(--color-green);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.coupon-apply:hover {
    background-color: var(--color-greenHover);
}





















@media only screen and (max-width: 900px) {
    .container-of-all {
        width: 90%;
        align-items: center;
    }

    .secure {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .order-timeline {
        margin-top: 20px;
    }

    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .billing-container {
        width: 100%;
        margin-bottom: 50px;
    }

    .coupon-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .container-of-all {
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    .billing-container {
        padding: 0;
    }

    .sub-inputs-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        input{
            width: 100%;
        }
    }

    .coupon-container {
        padding: 0;
    }

    .billing-input {
        font-size: 12px;
    }

    .billing-title,
    .coupon-title {
        margin-bottom: 10px;
        font-size: 20px;
    }
}