.container {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 50px;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.highlight {
  color: white; /* Or apply a different color for the 'highlight' if needed */
}

.description {
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px; /* Adjust based on your design requirements */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }
}