.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.card {
  overflow: hidden;
}

.imageContainer {
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.removeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.removeButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  padding: 1rem;
}

.name {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-green);
  margin-bottom: 0.5rem;
}

.date {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
}

.addToCartButton {
  width: 100%;
  background-color: var(--color-greenHover);
  color: var(--color-white);
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.addToCartButton:hover {
  background-color: var(--color-green);
}

.buttonIcon {
  margin-right: 0.5rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}