.stats {
  padding: 3rem 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
  margin: 0 auto;
}

.label {
  font-size: 1rem;
  line-height: 1.75;
}

.value {
  order: -1;
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-green);
}

@media (min-width: 640px) {
  .value {
    font-size: 3.75rem;
  }
}