.carouselItemInner {
  margin: 0 10px;
  padding: 20px 0;
}
.carouselItemInner {
  height: 100%;
}


:global(.slick-list) {
  margin: 0 -10px;
}


:global(.slick-track) {
  display: flex !important;
  gap: 0;
}


:global(.slick-track .slick-slide) {
  height: inherit !important;
  display: flex !important;
}

:global(.slick-track .slick-slide > div) {
  width: 100%;
  height: 100%;
  display: flex;
}