.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2em 1em;
    box-sizing: border-box;
}

.container video,
.container img {
    width: 100%;
    height: auto;
    max-width: 48%;
    max-height: 550px;  /* Limit the height */
    object-fit: cover;
    pointer-events: none; /* Disable interactions */
}


@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img,
    .container video {
        max-width: 90%;
        max-height: 200px;  /* Adjust height for smaller screens */
    }
}
