.searchBarContainer {
  position: absolute;
  top: 0;
  right: 30px;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.searchBarContainer.active {
  width: 100%;
}

.searchBar {
  width: 80%;
  /* max-width: 600px; */
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.searchInput {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  outline: none;
}

.searchInput,
.searchBar {
  background-color: transparent;
}

.searchIcon,
.closeIcon {
  color: var(--color-green);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icons:hover {
  transform: scale(1.1);
}

.searchResultsDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #1111117a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 2;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 8px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -2;
  animation: fadeIn 0.5s forwards;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.resultItem:hover {
  background-color: rgba(123, 123, 123, 0.447);
}

.resultImage {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 10px;
}

.resultName {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
