.tabContainer {
  display: flex;
  background-color: #333;
  border-radius: 25px;
  overflow: hidden;
}

.tab {
  flex-grow: 1;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: #626262;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:not(:last-child) {
  margin-right: 8px;
}

.tab.active {
  background-color: var(--color-greenHover);
  color: #111;
  border-radius: 20px;
}

.tab:hover {
  color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .tab {
    padding: 10px 18px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .tab {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .tab {
    padding: 6px 8px;
    font-size: 13px;
  }


}
